
body {
  background-color: #f1f8e9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#intro-section {
  background: url('../img/bg-2048.jpg') no-repeat top center;
  height: 90vh
}

#intro-section p span {
    background-color: rgba(255, 255, 255, 0.38);
}

#about-section {
  background: url('../img/william2_2048.jpg') no-repeat top center;
}
#testimonials-section {
  background: url('../img/field-2048.jpg') no-repeat top center;
}

#about-section, #intro-section, #testimonials-section { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#quote-section {
  font-weight: 400;
  font-size: 3rem;
  font-style: oblique;
  padding: 1em 0;
}
#about-section .collapsible-body, #testimonials-section .card {
  opacity: .9;
}
#testimonials-section .card {
    max-height: 460px;
    overflow-y: scroll;
}
#testimonials-section .card::-webkit-scrollbar { 
  display: none;
}
.logo img {
  margin-top: 10px;    
}

main {
  flex: 1 0 auto;
}

footer {
    font-size:.9rem;
}

nav .btn i {
  font-size: 1.3rem;
  line-height: inherit;
}

.fix-icon {
  position:relative; top:6px;
}